.about{
    background: linear-gradient( rgb(0, 119, 255), rgb(132, 0, 255));
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    h1{
        font-size: 4rem;
        color: white;
        font-weight: 400;
    }
}